@media screen and (max-width: 480px) {
    :root {
            --Primary-Brand: #4D5AE5;
            --Primary-Brand-rgba: rgba(77, 90, 229, 0.9);
            --Pressed-state: #404BBF;
            --modal-overlay: rgba(46, 47, 66, 0.4);
            --Dark: #2E2F42;
            --Text: #434455;
            --Light: #F4F4FD;
            --White: #FFFFFF;
            --Accent: #E7E9FC;
            --Cloud: #F4F4FD;
            --Subtle-Text: #8E8F99;
            --Success: #31D0AA;
            --border-button: rgba(0, 0, 0, 0.1);
            --input-footer-rgba: rgba(255, 255, 255, 0.3);
            --input-footer-color-input: rgba(255, 255, 255, 0.6);
            --input-modal-form-border: rgba(33, 33, 33, 0.2);
            --teatarea-comment-rgba: rgba(117, 117, 117, 0.5);
            --button-menu-mobile: #000000;
        }

    /* menu section */

        .webstudio-nav-logo-menu {
            display: none;
        }

        .webstudio-nav-menu-mobile {
            display: block;
        }

        .webstudio-nav-menu-mobile-container {
            display: flex;
            align-items: center;
        }

        .webstudio-header {
            width: 428px;
            height: 70px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 16px;
            padding-right: 16px;
        }

        .webstudio-nav {
            display: none;
            width: 100%;
            height: 100%;
            background: var(--White);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .webstudio-header-responsive-menu-logo-icon {
            display: block;
            width: 32px;
            height: 22px;
            background: transparent;
            border: none;
            outline: none;
            position: relative;
            left: 249px;
            top: 0;
            bottom: 0;
        }

        .webstudio-header-responsive-icon {
            width: 32px;
            height: 22px;
        }

        .webstudio-header-container {
            width: 428px;
            height: 796px;
            display: flex;
            flex-wrap: wrap;
        }

        .webstudio-modal-menu-close-button {
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 380px;
            top: 24px;
            border-radius: 50%;
            border: none;
            outline: none;
            background: var(--Accent);
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        .webstudio-modal-window-icon {
            fill: var(--button-menu-mobile);
        }

        /* menu list */

        .webstudio-header-menu-item {
            margin-left: 0px;
        }

        .webstudio-header-menu-list {
            display: block;
            width: 151px;
            height: 200px;
            margin-top: 80px;
            margin-left: 40px;
        }

        .webstudio-header-menu-link {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            text-transform: capitalize;
        }

        .webstudio-header-menu-link-active::after {
            display: none;
        }

        .webstudio-header-menu-item:nth-child(2) {
            margin-top: 40px;
        }

        .webstudio-header-menu-item:nth-child(3) {
            margin-top: 40px;
        }

        /* phone number and email */

        .webstudio-header-contant {
            display: block;
            margin-left: 40px;
            margin-top: 284px;
            margin-bottom: 48px;
        }

        .webstudio-header-contant-list {
            display: flex;
            flex-direction: column-reverse;
            margin-left: 0px;
            margin-right: 0px;
        }

        .webstudio-header-contant-list .webstudio-header-contant-list-link-email {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            width: 337px;
            height: 40px;
        }

        .webstudio-header-contant-list .webstudio-header-contant-list-link-active {
            font-weight: 600;
            font-size: 36px;
            line-height: 1.1;
            text-transform: capitalize;
        }

        .webstudio-header-contant-list-item:last-child {
            margin-bottom: 40px;
        }

        /* phone number and email */

        /* social media icons menu */

        .webstudio-header-social-media {
            display: block;
        }

        .webstudio-header-social-media-container {
            display: flex;
            list-style: none;
            width: 328px;
            height: 40px;
            margin-left: 40px;
        }

        .webstudio-header-social-media-list {
            width: 40px;
            height: 40px;
            background: var(--Primary-Brand);
            border-radius: 50%;
            padding: 8px;
            margin-left: 56px;
        }

        .webstudio-header-social-media-list:first-child {
            margin-left: 0px;
        }

        .webstudio-header-social-media-icon {
            width: 24px;
            height: 24px;
            fill: var(--Cloud);
        }

        .is-open {
            display: block;
        }

        .webstudio-header-menu-link:is(:hover, :focus) {
            color: var(--Pressed-state);
        }

        /* Effective Solutions for Your Business */

        .webstudio-service {
            width: 428px;
            margin-left: auto;
            margin-right: auto;
        }

        .webstudio-service-text {
            width: 320px;
            height: 80px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.1;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
        }

        /* modal */

        .webstudio-modal-window {
            position: absolute;
            left: 21%;
            top: 27%;
        }

        /* services */

        .webstudio-services {
            margin-top: 96px;
        }

        .webstudio-services-container {
            width: 396px;
            height: 624px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
        }

        .webstudio-services-text-list {
            width: 396px;
            display: flex;
            flex-wrap: wrap;

        }

        .webstudio-services-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.1;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--Dark);
        }

        .webstudio-services-title-text {
            width: 396px;
            height: 48px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--Text);
        }

        .webstudio-services-text-item:nth-child(2) {
            margin-left: 0px;
            margin-top: 72px;
        }

        .webstudio-services-text-item:nth-child(3) {
            margin-left: 0px;
            margin-top: 72px;
        }

        .webstudio-services-text-item:nth-child(4) {
            margin-left: 0px;
            margin-top: 72px;
        }

        .webstudio-services-item-svg {
            display: none;
        }

        /* our jobs */

        .webstudio-our-jobs {
            display: none;
        }

        /* our team */

        .webstudio-our-team {
            height: 2264px;
            margin-top: 96px;
        }

        .webstudio-our-team-title {
            width: 162px;
            margin-left: 133px;
            margin-bottom: 72px;
        }

        .webstudio-our-team-container {
            width: 428px;
            height: 2264px;
        }

        .webstudio-our-team-cards {
            width: 264px;
            height: 1928px;
            display: flex;
            flex-wrap: wrap;
            margin-left: 82px;
        }

        .webstudio-our-team-cards-employee:nth-child(2) {
            margin-left: 0px;
            margin-top: 72px;
        }

        .webstudio-our-team-cards-employee:nth-child(3) {
            margin-left: 0px;
            margin-top: 72px;
        }

        .webstudio-our-team-cards-employee:nth-child(4) {
            margin-left: 0px;
            margin-top: 72px;
        }

        /* customers */

        .webstudio-our-customers-list {
            display: flex;
            flex-wrap: wrap;
        }

        .webstudio-our-customers-title {
            margin-top: 96px;
            margin-bottom: 72px;
        }

        .webstudio-our-customers-list-item {
            width: 190px;
            height: 88px;
        }

        .webstudio-our-customers-list-item:nth-child(2) {
            margin-left: 24px;
        }

        .webstudio-our-customers-list-item:nth-child(3) {
            margin-left: 0px;
            margin-top: 72px;
        }

        .webstudio-our-customers-list-item:nth-child(4) {
            margin-left: 24px;
            margin-top: 72px;
        }

        .webstudio-our-customers-list-item:nth-child(5) {
            margin-left: 0px;
            margin-top: 72px;
        }

        .webstudio-our-customers-list-item:nth-child(6) {
            margin-left: 24px;
            margin-top: 72px;
        }

        /* footer */

        .webstudio-footer-home {
            height: 662px;
        }

        .webstudio-footer-home-container {
            width: 398px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .webstudio-footer-container-text {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .webstudio-footer-text {
            width: 268px;
            height: 72px;
        }

        .webstudio-footer-social-media-container {
            text-align: center;
            margin-left: 0px;
            margin-top: 72px;
        }

        .webstudio-footer-form-subscribe-container {
            margin-left: 0px;
            margin-top: 72px;
            text-align: center;
        }

        .webstudio-footer-form-subscribe-input-button-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 16px;
        }

        .webstudio-footer-form-subscribe-input {
            width: 398px;
            margin: 0 auto;
        }

        .webstudio-footer-form-subscribe-button {
            margin-left: 0px;
            margin-top: 16px;
        }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
(min-resolution: 192dpi), (min-resolution: 2dppx) {

    :root {
            --Primary-Brand: #4D5AE5;
            --Primary-Brand-rgba: rgba(77, 90, 229, 0.9);
            --Pressed-state: #404BBF;
            --modal-overlay: rgba(46, 47, 66, 0.4);
            --Dark: #2E2F42;
            --Text: #434455;
            --Light: #F4F4FD;
            --White: #FFFFFF;
            --Accent: #E7E9FC;
            --Cloud: #F4F4FD;
            --Subtle-Text: #8E8F99;
            --Success: #31D0AA;
            --border-button: rgba(0, 0, 0, 0.1);
            --input-footer-rgba: rgba(255, 255, 255, 0.3);
            --input-footer-color-input: rgba(255, 255, 255, 0.6);
            --input-modal-form-border: rgba(33, 33, 33, 0.2);
            --teatarea-comment-rgba: rgba(117, 117, 117, 0.5);
        }

    .webstudio-service {
        padding: 112px 54px;
        height: 432px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), 
            url("../images/Dark-bg-phone-edited.jpg");
            background-repeat: no-repeat;
            background-size: 428px;
            background-position: center;
    }
    
}

@media screen and (min-device-pixel-ratio: 1) and (max-width: 768px),
(min-resolution: 96dpi),
(min-resolution: 1dppx) {

    :root {
            --Primary-Brand: #4D5AE5;
            --Primary-Brand-rgba: rgba(77, 90, 229, 0.9);
            --Pressed-state: #404BBF;
            --modal-overlay: rgba(46, 47, 66, 0.4);
            --Dark: #2E2F42;
            --Text: #434455;
            --Light: #F4F4FD;
            --White: #FFFFFF;
            --Accent: #E7E9FC;
            --Cloud: #F4F4FD;
            --Subtle-Text: #8E8F99;
            --Success: #31D0AA;
            --border-button: rgba(0, 0, 0, 0.1);
            --input-footer-rgba: rgba(255, 255, 255, 0.3);
            --input-footer-color-input: rgba(255, 255, 255, 0.6);
            --input-modal-form-border: rgba(33, 33, 33, 0.2);
            --teatarea-comment-rgba: rgba(117, 117, 117, 0.5);
        }

     .webstudio-service {
        height: 436px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), 
            url("../images/Dark-bg-tablet-edited.jpg");
            background-repeat: no-repeat;
            background-size: 768px;
    } 

}

/* @media screen and (max-width: 768px) {

        :root {
            --Primary-Brand: #4D5AE5;
            --Primary-Brand-rgba: rgba(77, 90, 229, 0.9);
            --Pressed-state: #404BBF;
            --modal-overlay: rgba(46, 47, 66, 0.4);
            --Dark: #2E2F42;
            --Text: #434455;
            --Light: #F4F4FD;
            --White: #FFFFFF;
            --Accent: #E7E9FC;
            --Cloud: #F4F4FD;
            --Subtle-Text: #8E8F99;
            --Success: #31D0AA;
            --border-button: rgba(0, 0, 0, 0.1);
            --input-footer-rgba: rgba(255, 255, 255, 0.3);
            --input-footer-color-input: rgba(255, 255, 255, 0.6);
            --input-modal-form-border: rgba(33, 33, 33, 0.2);
            --teatarea-comment-rgba: rgba(117, 117, 117, 0.5);
        }

    
} */
